<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/home/streaming.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>비디오</title>
</head>
<body>
    <!-- <div class="streaming-wrapper">
        <div class="video-container">
            <video autoplay controls loop muted poster="aaa" preload="bbb">
                <source src="xxx" type="yyy">
              </video>
        </div> -->
    <div class="wrapper">
        <div class="user-container">
            <label for="nickname">대화명</label>
            <input type="text" id="nickname">
        </div>
        <div class="display-container">
            <ul class="chatting-list">
            
            </ul>
        </div>
        <div class="input-container">
            <span>
                <input type="text" class="chatting-input">
                <button class="send-button">전송</button>
            </span>
        </div>
    </div>


        <!-- <div class ="chat">
            <div class ="chat-box">
            <button type="send" id="button_send" class="btn">보내기</button>
        </div>
        </div> -->
    <script src="/socket.io/socket.io.js"></script>   
    <script src="/js/home/chat.js"></script>
        
</body>
</html>